
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f8fc;
}

.fundoo-login-container {
    background: white;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
    width: 25rem;
    text-align: center;
}

.fundoo-login-title {
    color: orange;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: normal;
}

p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.fundoo-login-input-box{
    color: gray !important;
}

.form-floating label {
    color: grey !important;
}

.fundoo-login-forgot-password {
    font-size: 0.875rem;
    color: #4285F4;
    text-decoration: none;
    display: flex;
}

.fundoo-login-create-account{
    font-size: 0.875rem;
    color: #4285F4;
    text-decoration: none; 
}


.fundoo-login-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}


.fundoo-login-submit-button {
    padding: 0.625rem 1.25rem;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1rem;
    cursor: pointer;
}

.fundoo-login-submit-button:hover {
    background-color: #357ae8;
}
